:root {
  --accent: #3c8dbc;
	--accent-hover: #307197;
  --accent-light: #00c0ef;
  --success: #00a65a;
  --success-hover: #008d4c;
  --error: #dd4b39;
  --error-hover: #d73925;
  --font-1: "Sourcesanspro", sans-serif;
  --admin-bg: #f5f8fa;
  --admin-bg-darken: #e4e9ec;
  --text-color: #212529;
  --text-light: rgba(255, 255, 255, 0.45);
  --text-dark: #1e1e1e;
  --text-gray: #777;
}
