:root {
  --accent: #65B244;
  --accent-hover: #447a2e;
  --accent-light: #E6FFFA;
  --pink: #FF5A5A;
  --pink-hover: #df3434;
  --contrast: #D1F4EE;
  --contrast-hover: #a4c5bf;
  --dark-bg: #444;
  --dark-bg-darken: #333;
  --primary: #0d7296;
  --primary-hover: #0f8dbb;
  --success: #139b2d;
  --success-hover: #19c73a;
  --success-light: #84ef97;
  --error: #980404;
  --error-hover: #d20707;
  --error-light: #FF5A5A;
  --wet-asphalt: #464F69;
  --wet-asphalt-hover: #3a4057;
  --font-1: "Barlow", sans-serif;
  --text-color: black;
  --text-color-light: #464F69;
}
